In [20]:
import pandas as pd
import numpy as py

income_data1 = pd.read_csv("income1.csv")

income_data1 = income_data1.loc[:,['Id2','Estimate; Per capita income in the past 12 months (in 2017 inflation-adjusted dollars)']]

income_data1.head()
counts = income_data1['Estimate; Per capita income in the past 12 months (in 2017 inflation-adjusted dollars)'].value_counts()
income_data1["Per Capita Income"] = pd.to_numeric(income_data1['Estimate; Per capita income in the past 12 months (in 2017 inflation-adjusted dollars)'].astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
income_data1 = income_data1.iloc[:,[0,2]]
income_data1["Per Capita Income"] = income_data1["Per Capita Income"].astype(py.int64)
income_data1 = income_data1.rename(columns={
    "Id2":"Zip Code"
})

In [21]:
income_data2 = pd.read_csv("income2.csv")
income_data2 = income_data2.loc[:,['Id2','Total households - Less than $10,000',
                                   'Total households - \$10,000-$14,999',
                                   'Total households - \$15,000-$24,999',
                                   'Total households - \$25,000-$34,999',
                                   'Total households - \$35,000-$49,999',
                                   'Total households - \$50,000-$74,999',
                                   'Total households - \$75,000-$99,999',
                                   'Total households - \$100,000-$149,999',
                                   'Total households - \$150,000-$199,999',
                                   'Total households - \$200,000 or more']]
income_data2 = income_data2.rename(columns={"Id2":"Zip Code"})
income_data2.head()

,Zip Code,"Total households - Less than $10,000","Total households - \$10,000-$14,999","Total households - \$15,000-$24,999","Total households - \$25,000-$34,999","Total households - \$35,000-$49,999","Total households - \$50,000-$74,999","Total households - \$75,000-$99,999","Total households - \$100,000-$149,999","Total households - \$150,000-$199,999","Total households - \$200,000 or more"
0,20001,1730,885,1302,876,1072,1758,1710,3765,2191,3475
1,20002,2501,1163,1559,1504,2142,3301,2894,4720,2729,3704
2,20003,686,367,456,352,417,1362,1496,2566,1840,2852
3,20004,48,8,9,20,63,79,102,329,166,339
4,20005,751,212,304,425,446,983,1292,1602,839,1318

In [22]:
income_data3 = pd.read_csv("income3.csv")
income_data3 = income_data3.loc[:,["Id2",
                                   'Number; Estimate; Households',
                                   'Median income (dollars); Estimate; Households',
                                   'Number; Estimate; FAMILIES - Families',
                                   'Median income (dollars); Estimate; FAMILIES - Families',
                                   'Number; Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households',
                                   'Median income (dollars); Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households']]
income_data3 = income_data3.rename(columns={"Id2":"Zip Code",
                                   'Number; Estimate; Households':"Total Households",
                                   'Median income (dollars); Estimate; Households':"Median Income by Household",
                                   'Number; Estimate; FAMILIES - Families':"Total Families",
                                   'Median income (dollars); Estimate; FAMILIES - Families':"Median Income by Families",
                                   'Number; Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households':"Total Nonfamily Households",
                                   'Median income (dollars); Estimate; NONFAMILY HOUSEHOLDS - Nonfamily households':"Median Income by Nonfamily Households"
    
})

In [23]:
income_data3["Median Income by Household"] = pd.to_numeric(income_data3['Median Income by Household'].astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
income_data3["Median Income by Household"] = income_data3["Median Income by Household"].astype(py.int64)

income_data3["Median Income by Families"] = pd.to_numeric(income_data3['Median Income by Families'].astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
income_data3["Median Income by Families"] = income_data3["Median Income by Families"].astype(py.int64)

income_data3["Median Income by Nonfamily Households"] = pd.to_numeric(income_data3['Median Income by Nonfamily Households'].astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
income_data3["Median Income by Nonfamily Households"] = income_data3["Median Income by Nonfamily Households"].astype(py.int64)

In [24]:
incomedata = pd.merge(income_data1, income_data2, how='outer', on='Zip Code')
incomedata = pd.merge(incomedata, income_data3,how="outer", on="Zip Code")
incomedata.head()

,Zip Code,Per Capita Income,"Total households - Less than $10,000","Total households - \$10,000-$14,999","Total households - \$15,000-$24,999","Total households - \$25,000-$34,999","Total households - \$35,000-$49,999","Total households - \$50,000-$74,999","Total households - \$75,000-$99,999","Total households - \$100,000-$149,999","Total households - \$150,000-$199,999","Total households - \$200,000 or more",Total Households,Median Income by Household,Total Families,Median Income by Families,Total Nonfamily Households,Median Income by Nonfamily Households
0,20001,54353.0,1730,885,1302,876,1072,1758,1710,3765,2191,3475,18764,100447,6040,113317,12724,93786
1,20002,49452.0,2501,1163,1559,1504,2142,3301,2894,4720,2729,3704,26217,82022,10665,101998,15552,69683
2,20003,63600.0,686,367,456,352,417,1362,1496,2566,1840,2852,12394,118607,5296,167746,7098,94339
3,20004,117432.0,48,8,9,20,63,79,102,329,166,339,1163,144583,280,248672,883,135189
4,20005,76658.0,751,212,304,425,446,983,1292,1602,839,1318,8172,94506,1668,142821,6504,83333

In [25]:
census_data = pd.read_csv("census_data_uncleaned.csv")
census_data.head()

,Id,Id2,Geography,Total; Estimate; Population 16 years and over,Total; Margin of Error; Population 16 years and over,Labor Force Participation Rate; Estimate; Population 16 years and over,Labor Force Participation Rate; Margin of Error; Population 16 years and over,Employment/Population Ratio; Estimate; Population 16 years and over,Employment/Population Ratio; Margin of Error; Population 16 years and over,Unemployment rate; Estimate; Population 16 years and over,...,Unemployment rate; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Some college or associate's degree,Unemployment rate; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Some college or associate's degree,Total; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Total; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Labor Force Participation Rate; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Labor Force Participation Rate; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Employment/Population Ratio; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Employment/Population Ratio; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Unemployment rate; Estimate; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher,Unemployment rate; Margin of Error; EDUCATIONAL ATTAINMENT - Population 25 to 64 years - Bachelor's degree or higher
0,8600000US20001,20001,ZCTA5 20001,41692,1106,73.4,1.3,68.8,1.4,5.6,...,6.9,3.1,21091,853,94.3,1.2,90.8,1.5,2.8,0.8
1,8600000US20002,20002,ZCTA5 20002,52867,1323,72.9,1.3,67.6,1.3,6.6,...,11,2.9,26110,899,91.6,1,88.3,1.2,2.6,0.7
2,8600000US20003,20003,ZCTA5 20003,26330,806,71.5,1.7,66.6,2.1,5.2,...,22.3,9.9,15768,603,93.7,1.3,90.9,1.4,1.6,0.7
3,8600000US20004,20004,ZCTA5 20004,1610,189,88,3.9,80.9,5,4.3,...,17.5,24.1,1292,170,92.5,3.3,84.6,5.3,4.2,2.9
4,8600000US20005,20005,ZCTA5 20005,12311,757,84,3.1,81.2,3.3,2.9,...,4.6,5.9,8157,566,94.7,2.3,92.5,2.6,1.7,0.8

In [26]:
censusdata = census_data.iloc[:,[1,3,5,9]]
censusdata = censusdata.rename(columns={
    "Id2":"Zip Code",
    "Total; Estimate; Population 16 years and over":"Total Population",
    "Labor Force Participation Rate; Estimate; Population 16 years and over":"Labor Force Participation Rate",
    "Unemployment rate; Estimate; Population 16 years and over":'Unemployment Rate'
})
censusdata["Total Population"] = pd.to_numeric(censusdata['Total Population'].astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
censusdata["Total Population"] = censusdata["Total Population"].astype(py.int64)

censusdata["Labor Force Participation Rate"] = pd.to_numeric(censusdata['Labor Force Participation Rate'].astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
censusdata["Labor Force Participation Rate"] = censusdata["Labor Force Participation Rate"].astype(py.int64)

censusdata["Unemployment Rate"] = pd.to_numeric(censusdata['Unemployment Rate'].astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
censusdata["Unemployment Rate"] = censusdata["Unemployment Rate"].astype(py.int64)

censusdata.dtypes

Zip Code                          int64
Total Population                  int64
Labor Force Participation Rate    int64
Unemployment Rate                 int64
dtype: object

In [27]:
econ_data = pd.merge(censusdata,incomedata,how="left",on="Zip Code")
econ_data.head()
econ_data.dtypes

Zip Code                                   int64
Total Population                           int64
Labor Force Participation Rate             int64
Unemployment Rate                          int64
Per Capita Income                        float64
Total households - Less than $10,000       int64
Total households - \$10,000-$14,999        int64
Total households - \$15,000-$24,999        int64
Total households - \$25,000-$34,999        int64
Total households - \$35,000-$49,999        int64
Total households - \$50,000-$74,999        int64
Total households - \$75,000-$99,999        int64
Total households - \$100,000-$149,999      int64
Total households - \$150,000-$199,999      int64
Total households - \$200,000 or more       int64
Total Households                           int64
Median Income by Household                 int64
Total Families                             int64
Median Income by Families                  int64
Total Nonfamily Households                 int64
Median Income by Nonfamily Households      int64
dtype: object

In [29]:
econ_data.to_csv(r'..\all_econ_data.csv', index = None, header=True)