In [2]:
import pandas as pd
import numpy as py

insurance_data = pd.read_csv("ACS_17_5YR_DP03_with_ann.csv")

insurance_data = insurance_data.loc[:,['GEO.id2', 'HC03_VC131']]

insurance_data.head()

  GEO.id2                                         HC03_VC131
0     Id2  Percent; HEALTH INSURANCE COVERAGE - Civilian ...
1   20001                                               96.0
2   20002                                               95.4
3   20003                                               97.6
4   20004                                               98.7

In [ ]:
output_data_file = "insurance_data.csv"
insurance_data.to_csv(output_data_file, index_label="")